@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Fredericka+the+Great&display=swap');

/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-
全ページ共通
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

/*-* 初期設定 *-*-*-*-*-*-*-*-*-*-*-*/
body,header,nav,main,footer,div,section,p,ul,li,th,td,dl,dd,h3{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 見出し２ */
h2{
  margin-top: 50px;
  border-bottom: 2px dashed rgb(153, 102, 102);
}

/* リストマーカー */
ul,ol{
  list-style: none;
}

/* 画像 */
img{
  border: 0;
  vertical-align: top;
}

/* フォント */
html{
  font-size: 62.5%;
  font-family:"Hiragino Kaku Gothic ProN","ヒラギノ角ゴ proN W3","Yu Gothic","游ゴシック","YuGothic","游ゴシック体","Meiryo","メイリオ",sans-serif;
  scroll-behavior:smooth;
}

/* IE対策 */
main{
  display: block;
}

/* テーブル */
table{
  border-collapse: collapse;
}

/* リンク */
a{
  color: rgb(102, 51, 51);
  text-decoration: none;
}

a:hover{
  color: rgb(51, 0, 0);
}

/* TOPに戻るリンク */
.gotop{
  position: fixed;
  text-align: center;
  font-weight: bold;
  line-height: 0;
  text-shadow: 1px 0 1px rgb(255, 255, 255), 0 1px 1px rgb(255, 255, 255), -1px 0 1px rgb(255, 255, 255), 0 -1px 1px rgb(255, 255, 255);
}

.gotop>a{
  width: auto;
  height: auto;
  color: rgba(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
}

.gotop>a:hover{
  background-color: rgba(153, 102, 102, 0.5);
}

/* ボディ */
body{
  background-color: rgba(153, 102, 102, 0.1);
  color: rgb(102, 51, 51);
  font-size: 1.6rem;
}

/*-* 中央揃え *-*-*-*-*-*-*-*-*-*-*-*/
#wrapper{
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  padding-bottom: 50px;
}

/*-* ヘッダー *-*-*-*-*-*-*-*-*-*-*-*/
header{
  position:relative;
}

header>img{
  width: 100%;
}

header>h1{
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  position: absolute;
}

header>p{
  color: rgb(0, 0, 0);
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  position: absolute;
}


/*-* ナビ *-*-*-*-*-*-*-*-*-*-*-*/
nav ul{
  list-style-type: none;
}

nav a:hover{
  background-color: rgba(153, 102, 102, 0.3);
}



/*-* メイン *-*-*-*-*-*-*-*-*-*-*-*/
/*プロフィール*/
#profile>h3{
  margin: 30px 0;
  text-align: center;
  font: normal 3.0rem 'Fredericka the Great', cursive;
}

#profile>div>img{
  border-radius: 50%;
}

#profile dl>dt:nth-child(4),#profile p{
  margin-top: 15px;
}

#profile #more_c{
  margin: 30px auto 0 auto;
}

#more_p,#more_c{
  display: flex;
  align-items:center;
  justify-content:center;
  width: 60px;
  height: 60px;
  background-color: rgb(153, 102, 102);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  color: rgb(255, 255, 255);
  font: normal 1.8rem 'Fredericka the Great', cursive;
}

#more_p:hover,#more_c:hover{
  cursor: pointer;
}

#profile>#more_d>#more_p{
  margin-top: 0;
}

#profile>#more_d{
  display: flex;
  align-items:center;
  justify-content:center;
  margin-top: 30px;
}

.onnone{
  display: none;
}

#morearea{
  width: 80%;
  margin: 30px auto 0 auto;
}

#morearea>h3{
  text-align: right;
}

#morearea>div:nth-child(2){
  margin: 5px auto 0 auto;
  border: 1px solid rgb(204, 204, 204);
  background-image: url(images/p_w.jpg);
  box-shadow: 2px 2px 2px rgb(204, 204, 204);
  background-size: cover;
  padding: 0 15px 15px 15px;
}

#morearea span{
  color: rgb(204, 0, 0);
}

.pspan{
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

#morearea>dl>dt{
  margin: 25px auto 0 auto;
  text-align: right;
  border-bottom: 1px solid rgb(102, 51, 51);
  font-size: 1.8rem;
  font-weight: bold;
}

/*ワークス*/
#works>h3{
  display: flex;
  align-items:center;
}

#works img{
  border: 1px solid rgb(204, 204, 204);
}

.workp{
  position: absolute;
  top: 10px;
  left: 10px;
}

/*コンタクト*/
#contact>dl>dt:first-child{
  margin-top: 30px;
}

#contact>dl{
  margin: 0 auto;
  width: fit-content;
}

/*-* フッター *-*-*-*-*-*-*-*-*-*-*-*/

footer{
  display: flex;
  align-items:center;
  justify-content:center;
  background-color: rgb(153, 102, 102);
}

footer>p{
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}



/* ======================================
  1025～px ＣＳＳ（パソコン）
====================================== */
@media screen and (min-width: 1025px) {
  #wrapper{
    width: 800px;
  }

  /* TOPに戻るリンク */
  .gotop{
    bottom: 10px;
    right: 10px;
    font-size: 2rem;
  }

  .gotop>a{
    padding: 10px;
    border-radius: 10px;
  }

  /* 見出し２ */
  h2{
    font: normal 3.0rem 'Bree Serif', serif;
    padding: 0 0 10px 10px;
  }

  dd{
    margin-left: 20px;
  }

  #works h3,#works div,#contact p{
    padding: 0 50px;
  }

  /*-* ヘッダー *-*-*-*-*-*-*-*-*-*-*-*/
  header>h1{
    font: normal 4.0rem 'Fredericka the Great', cursive;
    top: 110px;
    left: 170px;
  }

  header>p{
    font: normal 2.0rem 'Bree Serif', serif;
    top: 190px;
    left: 400px;
    position: absolute;
  }

  /*-* ナビ *-*-*-*-*-*-*-*-*-*-*-*/
  nav{
    font: normal 2.0rem 'Bree Serif', serif;
  }

  nav>ul{
    width: 100%;
    display: flex;
  }

  nav a{
    width: 25%;
    height: 65px;
  }
  nav li{
    display: flex;
    align-items:center;
    justify-content:center;
    width: 100%;
    height: 65px;
  }

  /*-* メイン *-*-*-*-*-*-*-*-*-*-*-*/
  /*プロフ*/
  #profile>div>img{
    width: 200px;
    height: 200px;
    margin-right: 30px;
  }

  #profile>div:nth-child(3){
    display: flex;
    justify-content:center;
    align-items:center;
  }

  #prfdiv{
    margin: 30px auto 0 auto;
    width: 64%;
  }

  #morearea>div:nth-last-child(2){
    margin-top: 30px;
    display: flex;
    justify-content:center;
    align-items:center;
  }

  #morearea>div:nth-last-child(2)>img{
    margin-right: 30px;
    width: 300px;
    height: 200px;
  }

  /*スキル*/
  #skill h3{
    display: flex;
    align-items:center;
    justify-content:flex-end;
    font-size: 2.0rem;
    margin-top: 30px;
  }

  #skill>div{
    display: flex;
    justify-content:center;
  }

  #skill>div>div{
    margin: 0 20px;
  }

  #skill dl{
    margin-top: 5px;
    padding: 0 15px;
    border: 1px solid rgb(204, 204, 204);
    background-image: url(images/p_h.jpg);
    box-shadow: 2px 2px 2px rgb(204, 204, 204);
    background-size: cover;
    width: 280px;
    height: 370px;
  }

  #skill dt{
    margin-top: 15px;
    font-weight: bold;
  }

  #skill dd{
    margin-left: 15px;
  }

  /*ワークス*/
  #works>h3{
    font-size: 2.0rem;
    margin-top: 30px;
  }

  #works>h3>a{
    font-size: 2.5rem;
  }

  #works>div{
    display: flex;
    align-items:flex-start;
  }

  #works>div>dl{
    margin-left: 20px;
  }

  #works dd{
    margin-top: 15px;
  }

  #works img{
    margin-top: 5px;
  }

  /*-* コンタクト *-*-*-*-*-*-*-*-*-*-*-*/
  #contact dt,#contact a{
    font-size: 1.8rem;
    display: flex;
    align-items:center;
  }

  #contact>dl i{
    font-size: 4.0rem;
    padding-right: 10px;
  }

    /*-* フッター *-*-*-*-*-*-*-*-*-*-*-*/

  footer{
    height: 80px;
  }

  footer>p{
    font: normal 2.5rem 'Fredericka the Great', cursive;
  }
}


/* ======================================
600～1024px ＣＳＳ（タブレット）
====================================== */
@media screen and (min-width: 617px) and (max-width: 1024px) {
  #wrapper{
    width: 500px;
    overflow-x: hidden;
  }

  /* TOPに戻るリンク */
  .gotop{
    bottom: 8px;
    right: 8px;
    font-size: 1.2rem;
  }

  .gotop>a{
    padding: 8px;
    border-radius: 8px;
  }

    /* 見出し２ */
  h2{
    padding: 0 0 10px 10px;
    font: normal 2.5rem 'Bree Serif', serif;
  }

  #works h3,#works div,#contact p{
    padding: 0 50px;
  }

  /*-* ヘッダー *-*-*-*-*-*-*-*-*-*-*-*/
  header>h1{
    font: normal 3.0rem 'Fredericka the Great', cursive;
    top: 60px;
    right: 65px;
  }

  header>p{
    font: normal 1.8rem 'Bree Serif', serif;
    top: 120px;
    right: 65px;
    position: absolute;
  }

  /*-* ナビ *-*-*-*-*-*-*-*-*-*-*-*/
  nav{
    font: normal 2.2rem 'Bree Serif', serif;
  }

  nav>ul{
    width: 100%;
    display: flex;
  }

  nav span{
    text-align: center;
    width: 100%;
    font-size: 1.8rem;
  }

  nav li,nav a{
    display: flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
  }

  nav a{
    width: 25%;
    height: 65px;
  }

  nav li{
    width: 100%;
  }

  /*-* メイン *-*-*-*-*-*-*-*-*-*-*-*/
  /*プロフ*/
  #profile>div>img{
    width: 150px;
    height: 150px;
    margin-right: 30px;
  }

  #profile>div:nth-child(3){
    display: flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
  }

  #prfdiv{
    margin: 30px auto 0 auto;
    width: 80%;
  }
  
  #morearea>div:nth-last-child(2){
    margin-top: 30px;
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
  }

  #morearea>div:nth-last-child(2)>img{
    width: 80%;
    height: 80%;
  }

  #morearea>div:nth-last-child(2)>dl{
    margin-top: 30px;
  }


  /*スキル*/
  #skill h3{
    display: flex;
    align-items:center;
    justify-content:center;
    font-size: 2.0rem;
    margin-top: 30px;
  }

  #skill>div{
    display: flex;
    justify-content:center;
    flex-wrap:wrap;
  }

  #skill>div>div{
    margin: 0 20px;
  }

  #skill dl{
    margin-top: 5px;
    padding: 0 15px;
    border: 1px solid rgb(204, 204, 204);
    background-image: url(images/p_h.jpg);
    box-shadow: 2px 2px 2px rgb(204, 204, 204);
    background-size: cover;
    width: 280px;
    height: 370px;
  }

  #skill dt{
    margin-top: 15px;
    font-weight: bold;
  }

  #skill dd{
    margin: 0 15px;
  }

  /*ワークス*/
  #works>h3{
    display: flex;
    align-items:center;
    justify-content:center;
    font-size: 2.0rem;
    margin-top: 30px;
  }

  #works>h3>a{
    font-size: 2.5rem;
  }

  #works>div{
    display: flex;
    justify-content:center;
    flex-wrap:wrap
  }

  #works>div>dl{
    margin: 15px 20px 0 20px;
  }

  #works dd{
    margin-top: 15px;
  }

  #works img{
    margin-top: 5px;
  }

  #works>div>dl>dt:nth-child(1){
    display: none;
  }


  /*-* コンタクト *-*-*-*-*-*-*-*-*-*-*-*/
  #contact dt,#contact a{
    font-size: 1.5rem;
    display: flex;
    align-items:center;
  }

  #contact dt{
    margin-top: 10px;
  }

  #contact>dl i{
    font-size: 3.0rem;
    padding-right: 10px;
  }

  /*-* フッター *-*-*-*-*-*-*-*-*-*-*-*/

  footer{
    height: 80px;
  }

  footer>p{
    font: normal 1.8rem 'Fredericka the Great', cursive;
  }
}


/* ======================================
0～616px ＣＳＳ（スマホ）※最小320×568考慮
====================================== */
@media screen and (min-width: 0px) and (max-width: 616px) {
  #wrapper{
    width: 100%;
    overflow-x: hidden;
  }

    /* TOPに戻るリンク */
  .gotop{
    bottom: 8px;
    right: 8px;
    font-size: 1.2rem;
  }

  .gotop>a{
    padding: 8px;
    border-radius: 8px;
  }

    /* 見出し２ */
  h2{
    font: normal 2.5rem 'Bree Serif', serif;
    text-align: center;
    width: 100%;
    padding-bottom:10px;
  }

  #works h3,#works div,#contact p{
    padding: 0 15px;
  }


  /*-* ヘッダー *-*-*-*-*-*-*-*-*-*-*-*/
  header>h1{
    font: normal 2.4rem 'Fredericka the Great', cursive;
    top: 35px;
    right: 12px;
  }

  header>p{
    font: normal 1.4rem 'Bree Serif', serif;
    top: 80px;
    right: 15px;
    position: absolute;
  }

  /*-* ナビ *-*-*-*-*-*-*-*-*-*-*-*/
  nav{
    font: normal 2.2rem 'Bree Serif', serif;
  }

  nav>ul{
    width: 100%;
    display: flex;
  }

  nav span{
    text-align: center;
    width: 100%;
    font-size: 1.8rem;
  }

  nav li,nav a{
    display: flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
  }

  nav a{
    width: 25%;
    height: 65px;
  }

  nav li{
    width: 100%;
  }

  /*-* メイン *-*-*-*-*-*-*-*-*-*-*-*/
  /*プロフ*/
  #profile>div>img{
    width: 200px;
    height: 200px;
  }

  #profile>div:nth-child(3){
    display: flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
  }

  #profile dl{
    margin-top: 20px;
  }

  #profile dl>dt:first-child{
    display: none;
  }

  #prfdiv{
    margin: 30px auto 0 auto;
    width: 80%;
  }

  #morearea>div:nth-last-child(2){
    margin-top: 30px;
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
  }

  #morearea>div:nth-last-child(2)>img{
    width: 80%;
    height: 80%;
  }

  #morearea>div:nth-last-child(2)>dl{
    margin-top: 30px;
  }

  #morearea>h3{
    text-align: center;
  }

  /*スキル*/
  #skill h3{
    display: flex;
    align-items:center;
    justify-content:center;
    font-size: 2.0rem;
    margin-top: 30px;
  }

  #skill>div{
    display: flex;
    justify-content:center;
    flex-wrap:wrap;
  }

  #skill>div>div{
    margin: 0 20px;
  }

  #skill dl{
    margin-top: 5px;
    padding: 0 15px;
    border: 1px solid rgb(204, 204, 204);
    background-image: url(images/p_h.jpg);
    box-shadow: 2px 2px 2px rgb(204, 204, 204);
    background-size: cover;
    width: 280px;
  }

  #skill dt{
    margin-top: 15px;
    font-weight: bold;
  }

  #skill dd{
    margin: 0 15px;
  }

  /*ワークス*/
  #works>h3{
    display: flex;
    align-items:center;
    justify-content:center;
    font-size: 2.0rem;
    margin-top: 30px;
  }

  #works>h3>a{
    font-size: 2.5rem;
  }

  #works>div{
    display: flex;
    justify-content:center;
    flex-wrap:wrap
  }

  #works>div>dl{
    margin: 0 20px;
  }

  #works dd{
    margin-top: 15px;
  }

  #works img{
    margin-top: 5px;
  }

  #works>div>dl>dt:nth-child(1){
    display: none;
  }


  /*-* コンタクト *-*-*-*-*-*-*-*-*-*-*-*/
  #contact dt,#contact a{
    font-size: 1.5rem;
    display: flex;
    align-items:center;
  }

  #contact dt{
    margin-top: 10px;
  }

  #contact>dl i{
    font-size: 3.0rem;
    padding-right: 10px;
  }

  /*-* フッター *-*-*-*-*-*-*-*-*-*-*-*/

  footer{
    height: 80px;
  }

  footer>p{
    font: normal 1.8rem 'Fredericka the Great', cursive;
  }
}